.footer {
  background-color: var(--bs-white);
  padding-top: 40px;
}

.footer_logo img {
  width: 80px;
  margin-bottom: 32px;
}

.footer p {
  font-size: 16px;
  text-align: justify;
}

.footer ul {
  padding: 0px;
}

.footer ul li {
  padding: 7.5px 5px 7.5px 0px;
}

.footer ul li a {
  position: relative;
  padding-left: 20px;
  transition: all 0.2s;
  color: var(--bs-dark);
}

.footer ul li a::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 8px;
  height: 2px;
  margin: 11.5px 5px;
  background-color: var(--bs-primary-dark);
  transition: all 0.2s;
}

.footer ul li a:hover::before {
  width: 15px;
  background-color: var(--bs-primary);
}

.footer ul li a:hover {
  padding-left: 30px;
  color: var(--bs-primary);
}

.social_media {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_media a {
  border: 1px solid var(--bs-primary);
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 40px;
  color: var(--bs-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 18px;
}

.social_media a:hover {
  border-color: var(--bs-primary);
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

@media (max-width: 758px) {
  .social_media {
    margin-bottom: 20px;
  }
}