.custom_nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom_nav div a {
  padding: 8px 15px !important;
  margin: 0px 7.5px;
  border-radius: 6px;
  background-color: #E3F4F4;
  color: var(--bs-primary);
}

.custom_nav div a:hover {
  background-color: var(--bs-primary-dark);
  color: var(--bs-white);
}

.custom_nav div a:focus,
.custom_nav div a .active {
  background-color: var(--bs-primary) !important;
  color: var(--bs-white);
}

@media (max-width: 768px) {
  .custom_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}