.about_inner p {
  color: var(--bs-secondary);
  margin-top: 32px;
}

.about_hero_img {
  height: 100%;
  width: 100%;
  position: relative;
}

.about_hero_img img:nth-child(1) {
  position: absolute;
  border-radius: 6px;
  z-index: 1;
  width: 50%;
  box-shadow: rgba(136, 165, 191, 0.48) -2px -2px 16px 0px, rgba(255, 255, 255, 0.8) 6px 2px 16px 0px;
}

.about_hero_img img:nth-child(2) {
  position: absolute;
  top: 80px;
  right: 40px;
  border-radius: 6px;
  z-index: 0;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -2px -2px 16px 0px;
}

.about_hero_img .about_play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.about_hero_img .about_play button {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.2s;
}

.about_hero_img .about_play button:hover {
  background-color: var(--bs-primary);
}

.about_hero_img .about_play button:hover svg {
  color: var(--bs-white);
}

.about_hero_img .about_play button::before {
  content: '';
  border-radius: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 6px solid var(--bs-primary);
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.about_hero_img .about_play button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid var(--bs-primary);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.25s infinite;
}

.about_hero_img .about_play button svg {
  color: var(--bs-primary);
}

.about_feature {
  display: flex;
  align-items: start;
  margin-top: 24px;
}

.ab_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--bs-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab_info {
  margin-left: 70px;
}

.ab_info p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.close_btn {
  position: absolute;
  right: -5px;
  top: -30px;
  background-color: transparent;
  border: none;
}

.close_btn svg {
  color: var(--bs-dark);
}


@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}

@media (max-width: 752px) {
  .about_wrapper {
    overflow: hidden;
  }

  .more_btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .more_btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about_hero_img {
    height: 540px;
  }

  .about_hero_img img:nth-child(1) {
    left: -40px;
    width: 65%;
  }

  .about_hero_img img:nth-child(2) {
    left: 75px;
    right: 0px;
  }
}